<h3>Prijava</h3>

@using (Html.BeginForm("_Login", "Auth", FormMethod.Post))
{
    <label class="k-label" id="lblUserName">Korisničko ime:</label>
    <br/>
    <input type="text" name="userName" class="k-textbox" id="txtUserName" />
    <br/>
     
    <label class="k-label" id="lblPwd">Lozinka:</label>
    <br/>
    <input type="password" name="userPwd" class="k-textbox" id="txtPwd" />
    <br/>
    <br/>
        
    <input id="btnLogin" type="submit" value="Prijava" class="k-button" />
    <input id="btnClear" type="reset" value="Poništi" class="k-button" />
    <br/>
         
    <p>
        <label id="lblRemember" class="k-label">Zapamti me</label>
        <input id="chkRemeber" type="checkbox" class="k-checkbox" />
        <br/>
    </p>
}
<p>
    <a class="registerLink" href="/Auth/Auth/Register">Registrirajte se</a>, ukoliko nemate račun.
</p>