@{
    ViewBag.Title = "Dodaj banku";
}

<h3>Dodavanje banke</h3>

<label class="k-label-top" id="lblBankName">Naziv banke: </label><br/>
<input type="text" class="k-textbox" id="txtBankName"/><br/>
<label class="k-label-top" id="lblIBAN">Unesite IBAN: </label><br/>
<input type="text" class="k-textbox" id="txtIBAN"/><br/>
<label class="k-label-top" id="lblAccount">Unesite žiro račun: </label>
<input type="number" class="k-textbox" id="txtAccount"/><br/>
<input type="submit" value="Spremi" class="k-button" id="btnSubmit"/>
<input type="reset" value="Izlaz" class="k-button" id="btnExit"/>
