@{
    ViewBag.Title = "GetBank";
}

<h2>GetBank</h2>

<div class="editor-field">
    @foreach (string elem in ViewBag.Banke)
    {
        <div>
           @elem 
        </div>
        
    }
</div>
