<h2>Izmjenite Vaš profil.</h2>

@using (Html.BeginForm("_EditProfil", "Admin", FormMethod.Post))
{
    <label id="lblFullName" class="k-label">Puni naziv tvrtke:</label>
    <br/>
    <input id="txtFullName" type="text" class="k-textbox" />
    <br/>
    <label id="lblShortName" class="k-label">Skraceni naziv tvrtke:</label>
    <br/>
    <input id="txtShortName" type="text" class="k-textbox" />
    <br/>
    <label id="lblTown" class="k-label">Mjesto:</label>
    <br/>
    <input id="txtTown" type="text" class="k-textbox" />
    <br/>
    <label id="lblAddress" class="k-label">Adresa:</label>
    <br/>
    <input id="txtAddress" type="text" class="k-textbox" />
    <br/>
    
    <!-- ----------------------------------------------------------------- -->
    <label class="k-label" id="lblDirector">Direktor: </label>
    <br/>
    <input type="text" title="Ime direktora" class="k-textbox" id="txtDirector" />
    <br/>
    <br/>
    
    <label class="k-label" id="lblbank">Izaberite banku: </label>
    <br/>
    <button id="ddlBank" class="k-dropdown"/>
    
    <input type="submit" value="Dodaj banku" class="k-button"/>
    <br/>
    
    <div id="addBank" class="k-window"></div>
    
    <label class="k-label-top" id="lblOIB">OIB tvrtke: </label>
    <br/>
    <input id="txtOIB" type="text" class="k-numerictextbox"/>
    <br/>
    <label id="lblPDV" class="k-label-top">PDV broj: </label>
    <br/>
    <input id="txtPDV" type="text" class="k-numerictextbox" />
    <br/>
    <label class="k-label-top">Matični broj tvrtke(MB): </label>
    <br/>
    <input id="txtMB" type="text" class="k-numerictextbox"/>
    <br/>
    
    <!-- ------------------------------------------------------------ -->
    <label id="lblPhone" class="k-label">Broj telefona: </label>
    <br/>
    <input id="txtPhone" type="tel" class="k-textbox" />
    <br/>
    <label id="lblMobile" class="k-label">Broj mobitela: </label>
    <br/>
    <input id="txtmMobile" type="tel" class="k-textbox" />
    <br/> 
    <label id="lblFax" class="k-label">Broj fax-a: </label>
    <br/>
    <input id="txtFax" type="tel" class="k-textbox" />
    <br/>
    
    <label id="lblWeb" class="k-label">Web adresa tvrtke:</label>
    <br/>
    <input id="txtWeb" type="url" class="k-textbox" />
    <input type="submit" value=" => " class="k-button"/>
    <br/>
    
    <!-- ------------------------------------------------------------------ -->
    <label id="lblEmail1"class="k-label">E-mail adresa 1:</label>
    <br/>
    <input id="txtEmail1" type="email" class="k-textbox" />
    <br/>
    <label id="lblEmail2" class="k-label">E-mail adresa 2:</label>
    <br/>
    <input id="txtEmail2" type="email" class="k-textbox" />
    <br/>
    <label id="lblEmail3" class="k-label">E-mail adresa 3:</label>
    <br/>
    <input id="txtEmail3" type="email" class="k-textbox" />
    <br/>
    
    <!-- ----------------------------------------------------------------- -->
    <h3>Logo</h3>
    <div id="uploadWrapper" class="k-upload-files"></div>
    
    
    <!-- ----------------------------------------------------------------- -->
    <label id="lblUserName" class="k-label">Unesite korisničko ime:</label>
    <br/>
    <input id="txtUserName" type="text" class="k-textbox" />
    <br/>
    <label id="lblPwd" class="k-label">Unesite lozinku:</label>
    <br/>
    <input id="txtPwd" type="password" class="k-textbox" />
    <br/>
    
}
<!-- --------------------------------------------------------------- -->
    <p>
        <input type="submit" value="Spremi" class="k-button" />
        <input type="reset" value="Odustani" class="k-button" />
        <input type="reset" value="Poništi" class="k-button" />
    </p>
 
<!-- Custom Scripts -->
<script type="text/javascript" src="@Url.Content("~/Scripts/App/Views/Admin/editProfil.js")"></script>