<div id="contentWrapper" class="k-content" style="position: relative">
    <div id="menuWrapper" class="k-menu">
        <ul id="adminMenu">
            <li><a href="">Poslovi</a></li>
            <li><a href="">Stranke</a></li>
            <li><a href="">Radnici</a></li>
            <li><a href="">Ponude</a></li>
            <li><a href="">Računi</a></li>
            <li><a href="">Pomoć</a></li>
        </ul>
    </div>
    <br/>
    <br/>
     
    <div id="adminViewGrid" class="k-grid"></div>
    
    <div id="separator" class="k-separator">
        <div id="formWrapper">
            <p>Forme za meta podatke i slicno se nastavljaju ispod, a CRUD operacije cemo sto vise pokusati izvrsavati Ajax pozivima kroz Kendo UI modal dijaloge,<br/> 
                kako bi izbjegli Postback sindrom, tj. ucitavanje novih stranica. Front-end sam pohvatao (HTML5 & jQuery + KendoUI) i ici ce dosta brzo, a back-end cu jos dobro prostudirati<br/> 
                kako bi vidjeli koji je najbolji nacin jer kada krenemo da se ne predomisljamo oko toga. Za validaciju imamo opciju KendoUI validate ili ASP.NET MVC built in validacija.<br/> 
                Mozda kombinacija ne bi bila losa opcija. I da, Profil menu (gore desno) se pokazuje samo Admin userima, za sada sam ga ostavio vidljivim da vidis kako izgleda.<br/>
                Idem spavati....
            </p>
        </div>
    </div>

</div>
@section adminScripts
{
    <script src="@Url.Content("~/Scripts/App/Views/Admin/company.js")" type="text/javascript"></script>
}

