<div id="regLog" style="float: right">
    <ul>
        <li class="k-button">@Html.ActionLink("Registracija", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "registerLink"})</li>
        <li class="k-button">@Html.ActionLink("Prijava", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "loginLink"})</li>
    
        @*<a id="registerLink" href="/Home/Index" class="k-button">Registracija</a>
        <a id="loginLink" href="/Home/Index" class="k-button">Prijava</a>*@
    </ul>
</div>


