@{
    ViewBag.Title = "Glavni Menu";
}

<ul>
    <li>@Html.ActionLink("Početna", "Index", "Home")</li>
    <li>@Html.ActionLink("O registraciji", "Index", new { area = "Register", controller = "Register"})</li>
</ul>
