@{
    ViewBag.Title = "O registraciji";
}

<h3 style="color: blue">Registracija</h3>
 
<h5></h5>
<p id="regText">
    
    Opis......
     

</p>

<ul>
    <li>@Html.ActionLink("Ovdje", "AddCompany") možete pristupiti našoj jednostavnoj formi za registraciju.</li>
</ul>

